body {
    background: #f3f3f3;
    transition: all 2.5s ease-in-out;
}
.app-content {
    height: calc(100vh - 153px);
    padding: 20px 0px 20px 0px;
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .cover {
            background: #000;
            border-radius: 50%;
            img {
                height: 200px;
                border-radius: 50%;
            }
        }
        .title {
            margin: 15px 0px 15px 0px;
            border-bottom: 1px solid rgba(#acacac, .3);
            padding-bottom: 15px;
        }
        .description {
            font-style: italic;
        }
        .social-icons {
            display: inline-flex;
            a {
                height: 50px;
                width: 50px;
            }
        }
        .link-site {
            img {
                transition: all 1.5s ease;
                width: 400px;
                @include hasta($md) {
                    width: 220px;
                }
            }
        }
    }
}
.app-footer {
    background: $brand-color;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    p {
        margin: 0px;
    }
    a {
        color: invert($brand-color);
    }
}