- var navbarID = "myNavbar";
nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    a(href="index.html" class="navbar-brand") MySite
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target=`#${navbarID}` aria-controls=`${navbarID}` aria-expanded="false" aria-label="Toggle Navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id=`${navbarID}`)
        ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="https://tunaqui.com") Home
                    span(class="sr-only") (current)
            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" data-haspoup="true" aria-expanded="false") Options
                    span(class="caret")
                div(class="dropdown-menu" labelledby="navbarDropdown")
                    a.dropdown-item(href="#") Action 1
                    .dropdown-divider
                    a.dropdown-item(href="#") Action 2