<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Template
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="images/tunaqui.png", type="image/x-icon")
    body
        include _header
        block content
        include _footer
        script(src="js/bundle.js")