// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}
  
/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}
  
// media querys responsive

@mixin desde($size){
    @media screen and (min-width: $size){
        @content;
    }
}
  
@mixin hasta($size){
    @media screen and (max-width: $size){
        @content;
    }
}
  
// mixin trancision en los links

@mixin tsLinks(){
    transition: all .5s ease;
}
  
// styc footer
@mixin stickyFooter {
    @at-root {
        body {
            display        : flex;
            flex-direction : column;
            min-height     : 100vh;
        }
    }

    margin-top : auto;
}
