extends ../structure/_layout
block content
    main.app-content
        .app-content__info
            .cover
                img(src="images/avatar.png")
            h3.title Full Stack Development
            p.description @EstevanTn
            .social-icons
                a(href="#")
                    i.fa.fa-facebook.fa-2x
                a(href="#")
                    i.fa.fa-github.fa-2x
                a(href="#")
                    i.fa.fa-twitter.fa-2x
            a(href="//tunaqui.com" class="link-site" target="_blank")
                img(src="images/tunaqui-web.png")
